app/__pycache__
app/saved_models
app/backup_db
app/stocks.*
app/institute.*
app/etf.*
app/crypto.*
app/*.sh
app/.env*
app/ml_models/weights
app/ml_models/training_data
app/ml_models/__pycache__
app/json/*
app/logs/*
fastify/node_modules
pocketbase/*
helper.txt
env/*
app/ml_models/weights
app/utils/__pycache__
app/data_providers/__pycache__
app/data_providers/impl/__pycache__
app/data_providers/mocks/__pycache__
app/db/__pycache__
.env
**/*.db
**/*DS_Store