services:
  init-db:
    image: stocknear:latest
    entrypoint: python3 app/db/main.py
    volumes:
      - db_dir:/opt/stocknear/db
  
  backend:
    image: stocknear:latest
    build: ../
    ports:
      - "443:8043"
      - "8000:8000"
    networks:
      - backend
      - redis
    environment:
      - UVICORN_BASE_URL=${UVICORN_BASE_URL}
      - USER_API_KEY=${USER_API_KEY}
      - API_PORT=${API_PORT}
    depends_on:
      init-db:
        condition: service_completed_successfully
    volumes:
      - db_dir:/opt/stocknear/db
  redis:
    image: redis:7.4-bookworm
    ports:
      - "6379:6379"
    networks:
      - redis
networks:
  # The presence of these objects is sufficient to define them
  backend: {}
  redis: {}
volumes:
  db_dir:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /tmp/testdb
